<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hide-mobile">
        <ul class="list">
          <li class="list-item">
            <a class="list-item-link" target="_blank" href="{{socialLinks.fb}}">
              <fa-icon class="list-item-icon" [icon]="fb"></fa-icon>
            </a>
          </li>
          <li class="list-item">
            <a class="list-item-link" target="_blank" href="{{socialLinks.tw}}">
              <fa-icon class="list-item-icon" [icon]="tw"></fa-icon>
            </a>
          </li>
          <li class="list-item">
            <a class="list-item-link" target="_blank" href="{{socialLinks.lin}}">
              <fa-icon class="list-item-icon" [icon]="lin"></fa-icon>
            </a>
          </li>
          <li class="list-item">
            <a class="list-item-link" target="_blank" href="{{socialLinks.gp}}">
              <fa-icon class="list-item-icon" [icon]="gp"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list">
          <li class="list-item">
            <a class="list-item-link list-item-link-contact" href="mailto:vldlbrk@gmail.com"
              target="_blank">
              <fa-icon class="list-item-icon" [icon]="tmail"></fa-icon>vldlbrk@gmail.com</a>
          </li>
          <li class="list-item">
            <a class="list-item-link list-item-link-contact" href="tel:13123204213" target="_blank">
              <fa-icon class="list-item-icon" [icon]="phone"></fa-icon>+312 320 4213</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
