<div parallax [config]="{initialValue: 10, ratio: .1}" class="about" id="about">
  <div class="row">
    <div class="col-md-8 offset-md-4">
      <div class="about-card">
        <div class="about-card-content">
          <h3 class="about-card-content-title">{{card.title}}</h3>
          <p>
            <b>If you don’t wan’t to read this, just
              <a style="color: #ff9800; text-decoration: underline" href="#prt">click</a> to see my work
              <span style="font-size: 22px">:)</span>
            </b>.</p>

          <p>Web developer, who really cares about a website performance. Started as
            WordPress developer, now proficient in all popular CMS, including Shopify,
            Magento2, Squarespace. Besides that, I always checking trending tools
            and technologies. Nowadays learning React and Vue extensively to expand
            my skills.</p>
          <p>
            In my free time enjoy live rock music.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="skew skew-l"></div>
  <div class="skew skew-r"></div>
</div>
