@import '../../_variables.scss';
.contact {
  @include section-padding;
  padding-bottom: 0;
  background: $gray;
  .container {
    position: relative;
  }
  .btn-top {
    position: absolute;
    top: -110px;
    right: 0;
    cursor: pointer;
    transition: .6s cubic-bezier(0.000, 1.235, 0.330, 1.650) all;
    @include mobile-down {
      right: 35px;
    }
    &:hover {
      transform: rotate(90deg);
    }
    fa-icon {
      font-size: 2.5rem;
      width: 60px;
      height: 60px;
      color: #fff;
      line-height: 55px;
      border-radius: 50%;
      display: block;
      background: #212121;
      padding: 0px 0px 0px 18px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }
  &-title {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #9e9e9e, 0 2px 0 #9e9e9e, 0 3px 0 #9e9e9e, 0 4px 0 #9e9e9e, 0 5px 0 #757575, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  }
  &-content {
    margin-top: 2rem;
    &-items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
    }
    &-item {
      transform: rotate(90deg);
      opacity: 0;
      transition: .6s ease opacity, .3s ease transform;
      @include mobile-down {
        width: 33.3%;
        display: flex;
        margin: 0rem;
        justify-content: center;
        margin-bottom: 3rem;
      }
      @for $a from 1 to 6 {
        &:nth-child(#{$a}) {
          transition-delay: (0.1s * $a)
        }
      }
      &.stagger {
        opacity: 1;
        transform: rotate(0) translate(0);
      }
      &.tablet-stagg {
        opacity: 1;
        transform: rotate(0) translate(0);
      }
      &.ipad-stagg {
        opacity: 1;
        transform: rotate(0) translate(0);
      }
      &-link {}
      &-icon {
        border: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 2rem;
        padding: 20px 10px 10px 22px;
        color: #fff;
        border-radius: 50%;
        height: 80px;
        line-height: 2rem;
        width: 80px;
        margin-left: 0px;
        display: block;
        &:hover {
          border-color: $gray;
        }
      }
      #phone {
        transition: all .3s ease;
        &:hover {
          background: #4caf50;
          color: $black;
        }
      }
      #email {
        transition: all .3s ease;
        &:hover {
          background: #ffc107;
          color: $black;
        }
      }
      #fb {
        padding-left: 29px;
        transition: all .3s ease;
        &:hover {
          background: #3f51b5;
        }
      }
      #twitter {
        transition: all .3s ease;
        &:hover {
          background: #2196f3;
        }
      }
      #linkedin {
        transition: all .3s ease;
        padding-left: 25px;
        &:hover {
          background: #1565c0;
        }
      }
      #gplus {
        transition: all .3s ease;
        &:hover {
          background: #ef5350;
        }
      }
    }
  }
}

footer {
  padding: 1rem;
  background: $darkBlack;
  font-size: 0.9rem;
  margin-top: 5rem;
  @include mobile-down {
    margin-top: 3rem;
  }
  transform: translateX(200%);
  transition: all 1s cubic-bezier(0, .97, .6, .92);
  &.animate {
    transform: translate(0);
    opacity: 1;
  }
  &.tablet {
    transform: translate(0);
    opacity: 1;
  }
  &.ipad {
    transform: translate(0);
    opacity: 1;
  }
  .container {
    display: flex;
    .footer-links {
      margin-left: auto;
      a {
        color: #fff;
        padding: 0 10px;
      }
    }
    p {
      margin: 0;
      color: #fff;
    }
  }
}
