@import '../../_variables.scss';
.main-nav {
  width: 100%;
  z-index: 1000;
  background: $purple;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  .menu {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 0;
    &-item {
      position: relative;
      padding: 8px 0px;
      &:before {
        content: "";
        position: absolute;
        background: #fff;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        top: 0;
        width: 2px;
        height: 100%;
        transform: scale3d(1, 0, 1);
        left: 0;
        transform-origin: 50% 100%;
      }
      &:after {
        content: "";
        position: absolute;
        background: #fff;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        top: 0;
        width: 2px;
        height: 100%;
        transform: scale3d(1, 0, 1);
        right: 0;
        transform-origin: 50% 0%;
      }
      &:hover {
        &:before,
        &:after {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
        }
      }
      &-link {
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        transition: all .5s ease-in-out;
        &:before {
          content: "";
          position: absolute;
          background: #fff;
          -webkit-transition: -webkit-transform 2s;
          transition: -webkit-transform 2s;
          transition: transform 2s;
          transition: transform 2s, -webkit-transform 2s;
          left: 0;
          width: 100%;
          height: 2px;
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          top: 0;
          -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
        }
        &:after {
          content: "";
          position: absolute;
          background: #fff;
          -webkit-transition: -webkit-transform 2s;
          transition: -webkit-transform 2s;
          transition: transform 2s;
          transition: transform 2s, -webkit-transform 2s;
          left: 0;
          width: 100%;
          height: 2px;
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          bottom: 0;
          -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
        }
        &:hover {
          color: $purple;
          background: #fff;
          &:before,
          &:after {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
          }
        }
      }
    }
  }
}
