@import '../../_variables.scss';
.testi {
  background: $purple;
  @include section-padding;
  perspective: 300;
  &-title {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #9e9e9e, 0 2px 0 #9e9e9e, 0 3px 0 #9e9e9e, 0 4px 0 #9e9e9e, 0 5px 0 #757575, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  }
}

// Slider styling
.testi-slider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
  transform: rotateX(210deg) translateZ(-10px) scale(0.3);
  opacity: 0;
  transition: all 1s ease;
  &.animate {
    transform: rotateX(0) translateZ(0) scale(1) !important;
    opacity: 1;
    transition: all 1s cubic-bezier(0, .97, 0, 1.29);
  }
  > {
    input {
      display: none;
      &:nth-of-type(10):checked~ul li:first-of-type {
        margin-left: -900%;
      }
      &:nth-of-type(9):checked~ul li:first-of-type {
        margin-left: -800%;
      }
      &:nth-of-type(8):checked~ul li:first-of-type {
        margin-left: -700%;
      }
      &:nth-of-type(7):checked~ul li:first-of-type {
        margin-left: -600%;
      }
      &:nth-of-type(6):checked~ul li:first-of-type {
        margin-left: -500%;
      }
      &:nth-of-type(5):checked~ul li:first-of-type {
        margin-left: -400%;
      }
      &:nth-of-type(4):checked~ul li:first-of-type {
        margin-left: -300%;
      }
      &:nth-of-type(3):checked~ul li:first-of-type {
        margin-left: -200%;
      }
      &:nth-of-type(2):checked~ul li:first-of-type {
        margin-left: -100%;
      }
      &:nth-of-type(1):checked~ul li:first-of-type {
        margin-left: 0%;
      }
    }
    ul {
      position: relative;
      width: 916px;
      height: 100%;
      z-index: 1;
      font-size: 0;
      line-height: 0;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      >li {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 15px;
        font-size: initial;
        line-height: normal;
        -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        white-space: normal;
        blockquote {
          background: #fff;
          padding: 6rem 8rem;
          position: relative;
          font-size: 1.2rem;
          border-radius: 89px;
          margin: 2rem 2rem 0;
          color: $purple;
          &:before,
          &:after {
            content: '';
            position: absolute;
            height: 30px;
            width: 30px;
          }
          &:before {
            background-image: url('../../assets/quote-left-solid.svg');
            top: 50px;
            left: 55px;
          }
          &:after {
            background-image: url('../../assets/quote-right-solid.svg');
            bottom: 50px;
            right: 55px;
          }
          @include mobile-down {
            padding: 6rem 4rem;
          }
        }
        cite {
          color: #fff;
          margin-left: 10%;
          @include mobile-down {
            margin-left: 0;
          }
        }
        .chat {
          width: 0;
          height: 0;
          border-left: 0 solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #fff;
          border-right: 40px solid transparent;
          border-top: 40px solid #fff;
          margin: -1px 0 1rem 18%;
          @include mobile-down {
            margin-left: 33%;
          }
        }
        &.scrollable {
          overflow-y: scroll;
        }
      }
    }
    .arrows {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
    label {
      border: 1px solid #7e7e7e;
    }
  }
  > {
    input {
      &:nth-of-type(1):checked~.navigation label:nth-of-type(1):after,
      &:nth-of-type(2):checked~.navigation label:nth-of-type(2):after,
      &:nth-of-type(3):checked~.navigation label:nth-of-type(3):after,
      &:nth-of-type(4):checked~.navigation label:nth-of-type(4):after,
      &:nth-of-type(5):checked~.navigation label:nth-of-type(5):after,
      &:nth-of-type(6):checked~.navigation label:nth-of-type(6):after,
      &:nth-of-type(7):checked~.navigation label:nth-of-type(7):after,
      &:nth-of-type(8):checked~.navigation label:nth-of-type(8):after,
      &:nth-of-type(9):checked~.navigation label:nth-of-type(9):after,
      &:nth-of-type(10):checked~.navigation label:nth-of-type(10):after,
      &:nth-of-type(11):checked~.navigation label:nth-of-type(11):after {
        opacity: 1;
      }
    }
    .arrows {
      position: absolute;
      left: -31px;
      top: 44%;
      width: 100%;
      height: 26px;
      padding: 0 31px;
      z-index: 0;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      label {
        display: none;
        position: absolute;
        top: -50%;
        padding: 13px;
        box-shadow: inset 2px -2px 0 1px #fff;
        cursor: pointer;
        -moz-transition: box-shadow 0.15s, margin 0.15s;
        -o-transition: box-shadow 0.15s, margin 0.15s;
        -webkit-transition: box-shadow 0.15s, margin 0.15s;
        transition: box-shadow 0.15s, margin 0.15s;
        &:hover {
          box-shadow: inset 3px -3px 0 2px #fff;
          margin: 0 0px;
        }
        &:before {
          content: '';
          position: absolute;
          top: -100%;
          left: -100%;
          height: 300%;
          width: 300%;
        }
      }
    }
  }
  &.infinity {
    >input:first-of-type:checked~.arrows label.goto-last {
      display: block;
      left: 0;
      right: auto;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      @include mobile-down {
        left: 35px;
      }
    }
    >input:last-of-type:checked~.arrows label.goto-first {
      display: block;
      right: 20px;
      left: auto;
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      @include mobile-down {
        right: 35px;
      }
    }
  }
  >input {
    &:nth-of-type(1):checked~.arrows>label:nth-of-type(0),
    &:nth-of-type(2):checked~.arrows>label:nth-of-type(1),
    &:nth-of-type(3):checked~.arrows>label:nth-of-type(2),
    &:nth-of-type(4):checked~.arrows>label:nth-of-type(3),
    &:nth-of-type(5):checked~.arrows>label:nth-of-type(4),
    &:nth-of-type(6):checked~.arrows>label:nth-of-type(5),
    &:nth-of-type(7):checked~.arrows>label:nth-of-type(6),
    &:nth-of-type(8):checked~.arrows>label:nth-of-type(7),
    &:nth-of-type(9):checked~.arrows>label:nth-of-type(8),
    &:nth-of-type(10):checked~.arrows>label:nth-of-type(9),
    &:nth-of-type(11):checked~.arrows>label:nth-of-type(10) {
      display: block;
      left: 20px;
      right: auto;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      @include mobile-down {
        left: 35px;
      }
    }
  }
  >input {
    &:nth-of-type(1):checked~.arrows>label:nth-of-type(2),
    &:nth-of-type(2):checked~.arrows>label:nth-of-type(3),
    &:nth-of-type(3):checked~.arrows>label:nth-of-type(4),
    &:nth-of-type(4):checked~.arrows>label:nth-of-type(5),
    &:nth-of-type(5):checked~.arrows>label:nth-of-type(6),
    &:nth-of-type(6):checked~.arrows>label:nth-of-type(7),
    &:nth-of-type(7):checked~.arrows>label:nth-of-type(8),
    &:nth-of-type(8):checked~.arrows>label:nth-of-type(9),
    &:nth-of-type(9):checked~.arrows>label:nth-of-type(10),
    &:nth-of-type(10):checked~.arrows>label:nth-of-type(11),
    &:nth-of-type(11):checked~.arrows>label:nth-of-type(12) {
      display: block;
      right: 20px;
      left: auto;
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      @include mobile-down {
        right: 35px;
      }
    }
  }
}

/*#region MODULES */

/*#endregion */
