/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '_variables';
@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $p;
  overflow-x: hidden;
}

h2 {
  font-family: $title;
  font-size: 2.8em;
}

a {
  text-decoration: none;
  font-family: $p;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

.onehalfrem {
  font-size: 1.5rem;
}

.hide-mobile {
  @include mobile-down {
    display: none;
  }
}

.hide-tablet {
  @include tablet-down {
    display: none;
  }
}

.hide-desktop {
  @media (min-width: 991px) {
    display: none;
  }
}
